#Virtual environments
venv/
env/
.venv/

#Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

#Jupyter notebook checkpoints
.ipynb_checkpoints/

#System/IDE files
.DS_Store
Thumbs.db
.vscode/

#Log files
*.log
